<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IbeeConer.Properties.Settings.IbeeConerConnectionString"
            connectionString="Data Source=NHATMINH\NHATMINH;Initial Catalog=IbeeConer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IbeeConerConnectionString" connectionString="XpoProvider=MSSqlServer;data source=NHATMINH\NHATMINH;integrated security=SSPI;initial catalog=IbeeConer" />
    </connectionStrings>
  
    <appSettings>
      <add key = "MYCONN" value=" Server=NHATMINH\NHATMINH;Database=IbeeConer;Trusted_Connection=True; " />
    </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>